/* colors */

$color1: rgb(246, 179, 62);
$color2: rgb(208, 89, 54);
$color3: rgb(244, 213, 170);
$dark: rgb(58, 48, 59);

/* Fonts*/
$HeadTitleFont: "IBM Plex Sans Thai Looped", sans-serif;

$SubtitleFont: "Martel Sans", sans-serif;

$paragraphFont: "Rubik", sans-serif;
